<% #title "Home" %>
<ul class="rounded">
  <li>
    <input type="text" placeholder="Gamertag" name="gamertag" id="gamertag_input" autocapitalize="off" autocorrect="off" autocomplete="off"/>
  </li>
</ul>

<ul class="rounded"><li class="arrow"><%= link_to 'Players', players_path %></li></ul>